// Colors
$color-primary: #FE774F;
$color-secondary: #3E6DF3;
$color-tertiary: #BB4EED;

$color-warning: #FE9B0A;
$color-danger: #D55C78;
$color-success: #6EC765;
$color-text: #263138;

$color-border: #E9EDF1;
$color-border-white: rgba(#FFF, 0.1);
$color-dark: #1E1E24;
$color-background: #FFFFFF;
$color-background-dark: #F6F7F9;
$color-background-black: #1E2227;

// Other
$border-radius: 4px;
$padding: 20px;
$padding-layout: 20px 20px;
$menu-width: 260px;
